body{
    background-color: crimson;
}

h1{
    color: khaki;
}

ol{
    color: slategrey;
    background-color: darkblue;
}
li{
    color: grey;
}


div{
    color: slategray;
}

input{
    background-color: antiquewhite;
}